h3 {
  font-family: Gotu;
  font-size: 1.8em;
  color: #35453b;
  padding: 0;
  margin: 0;
}

img {
  border: 5px solid #35453b;
  width: auto; /* Set the image width to 100% */
  height: 70%; /* Maintain aspect ratio */
  margin-bottom: 15px;
}


/* img:active {
  border: 5px solid #35453b;
} */

h4 {
  font-family: Sacramento;
  font-size: 1.4em;
  color: #35453b;
  padding-bottom: 15px;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #d5b9ac;
  height:400px; /* Set a fixed height for the cards */
  width: 400px; /* Set a fixed width for the cards */
  margin: 10px; /* Add some margin between the cards */
  padding: 20px;
  border: 5px solid #d5b9ac;
}



.card:hover {
  cursor: pointer;
  transition-duration: 0.2s;
  transform: scale(1.025);
  box-shadow: 0 0 8px #808080, 0 0 12px #808080, 0 0 17px #808080, 0 0 22px #808080;
  border: 5px solid #d5b9ac;
}

.card:active {
  transition-duration: 0.2s;
  transform: scale(1.055);
  border: 5px solid #35453b;
}


a {
  text-decoration: none;
}